{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
type: Opaque
data:
  {{ .Values.postgres.auth.passwordKey }}: {{ randAlphaNum 24 | b64enc }}
{{- end }}
