<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testgen Component</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="Testgen Component" />

        <link rel="stylesheet" href="css/shared.css" />
        <link rel="stylesheet" href="css/roboto-font-faces.css" />
        <link rel="stylesheet" href="css/material-symbols-rounded.css" />
        <script src="js/main.js" type="module" defer></script>
    </head>
    <body>
    </body>
</html>
