# Default values for testgen-services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

postgresql:
  fullnameOverride: postgresql
  auth:
    database: "datakitchen"
  image:
    repository: bitnamilegacy/postgresql

global:
  security:
    allowInsecureImages: true
